# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Optional: ignore virtual environments
venv/
env/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore static build output if you use a frontend build step
# /static/dist/

# GIS / Raster files (VERY IMPORTANT)
*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.geojson
*.shp
*.dbf
*.shx
*.zip